#px {
    width: 300px;
    height: 500px;
    background: red;
}
#percent {
    background: blue;
    width: 50%;
    height: 50%;
}
#em {
    width: 10em;
    height: 10m;
    background: aqua;
}
#rem {
    width: 10rem;
    height: 20rem;
    background: yellow;
}